* {
  margin:auto;
}

body {
  background-color: lightblue;
}

.whole{
  background-color: pink;
}


.welcomeContainer{
  background: rgba(100, 140, 100, 0.9);
  color: white;
  text-align: center;

}

.listContainer{
  background: rgba(100, 140, 100, 0.9);
  margin-top: 10px;
  margin-bottom: 60px;
}


.coinlist {
  background: rgba(237, 0, 0, 0.9);
  border: 1px solid black;
}
.coinlist td{
  background: rgba(237, 237, 0, 0.9);
  border: 1px solid black;
  font-size: 90%;
  padding: 10px;
}




.footer {
  background: rgba(237, 237, 0, 0.9);
  border: 1px solid black;
}
